<div id="all-cats">
    {{> burgers/all}}
</div>

<h2>Add a Burger</h2>
<form class="create-form" action="/cats">
  <div class="form-group">
    <label>Burger:</label>
    <input type="text" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>